# Population Change Analysis
data source: <a href='pop_change.csv'>www.census.gov</a>

In [84]:
import pandas as pd

<h3>Import data to DataFrame, and show head</h3>

In [85]:
dfile = 'pop_change.csv'
df = pd.read_csv(dfile, header=[2])
df.head()

,STATE_OR_REGION,1910_POPULATION,1920_POPULATION,1930_POPULATION,1940_POPULATION,1950_POPULATION,1960_POPULATION,1970_POPULATION,1980_POPULATION,1990_POPULATION,...,1920_CHANGE,1930_CHANGE,1940_CHANGE,1950_CHANGE,1960_CHANGE,1970_CHANGE,1980_CHANGE,1990_CHANGE,2000_CHANGE,2010_CHANGE
0,United States,92228531,106021568,123202660,132165129,151325798,179323175,203211926,226545805,248709873,...,15.0,16.2,7.3,14.5,18.5,13.3,11.5,9.8,13.2,9.7
1,Northeast,25868573,29662053,34427091,35976777,39477986,44677819,49040703,49135283,50809229,...,14.7,16.1,4.5,9.7,13.2,9.8,0.2,3.4,5.5,3.2
2,Midwest,29888542,34019792,38594100,40143332,44460762,51619139,56571663,58865670,59668632,...,13.8,13.4,4.0,10.8,16.1,9.6,4.1,1.4,7.9,3.9
3,South,29389330,33125803,37857633,41665901,47197088,54973113,62795367,75372362,85445930,...,12.7,14.3,10.1,13.3,16.5,14.2,20.0,13.4,17.3,14.3
4,West,7082086,9213920,12323836,14379119,20189962,28053104,34804193,43172490,52786082,...,30.1,33.8,16.7,40.4,38.9,24.1,24.0,22.3,19.7,13.8

In [86]:
subset = pd.DataFrame(df['STATE_OR_REGION']).join(df[df.columns[16:22]])

In [88]:
cumulative = [(subset.iloc[i,1:].sum(), subset.iloc[i][0]) for i in range(len(subset))]

In [107]:
template = '{location} had {change:.1f} change in population.'

# Extrema for Regional Growth
- <em>from 1950 to 2000</em>

In [108]:
change, location = max(cumulative[1:5])
print(template.format_map(vars()))

West had 169.4 change in population.

In [109]:
change, location = min(cumulative[1:5])
print(template.format_map(vars()))

Northeast had 41.8 change in population.

# Extrema by State
- <em>from 1950 to 2000</em>

In [111]:
change, location = max(cumulative[5:])
print(template.format_map(vars()))

Nevada had 374.9 change in population.

In [112]:
change, location = min(cumulative[5:])
print(template.format_map(vars()))

District of Columbia had -11.0 change in population.